html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: #020323;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding-left: 20px;
}

h2 {
    margin: 0;
}

.header__content h2{
    padding-top: 19px;
}



.container {
    margin: 0 auto;
    width: 1000px;
    background-color: #c4c1c1;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.header__img {
    height: 329px;
    width: 28%;
} 
.header__content {
    width: 72%;

}

.header__name {
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 30px;
}

h1{
    font-size: 64px;
    border-bottom: 1px solid #000;
    margin: 0;
}

.header__menu {
    margin-bottom: 55px;
    

}

.header__menu-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #a9a9a9;
    padding-right: 20px;
}

.menu-link {   
    font-size: 20px;

    text-decoration: none;
    color: #020323;
    transition: .2s; 
    
}

.menu-link:hover{
    border-bottom: 1px solid #800101;
    color: #800101;
    
}

/* MAIN */

.main__container{
    background-color: #d7d6d6;

}

.main__item{
    padding-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    
    display: flex;
    flex-direction: row;
    align-items: baseline;

   
}
.main__item:not(:last-child){
    border-bottom: 1px solid #020323;
}

.main__item-menu{
    padding-left: 85px;
    width: 165px;
    font-size: 20px;

}

.main__item-text {
    padding-left: 30px;
    width: 680px;
    background-color: rgb(215, 214, 214);
    text-align: justify;
    

}

code {
    font-style: 16px;
}


/* FOOTER */
.footer__container {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #a9a9a9;



}
.git__item {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.git__link {
    position: absolute;
    height: 64px;
    width: 64px;
    text-decoration: none;
    position: relative;
    color: #020323;
    fill: #020323;
    transition: .2s;
}

.git__link:hover {
    color: #800101;
    fill: #800101;
}

.git__link span{
    position: absolute;
    top: 20px
}

.rsschool__img {
    height: 50px;
    
}

.rsschool__link {
    transition: .2s;
    padding: 5px 5px 0 5px;
    border-radius: 9px;
}

.rsschool__link:hover{
    background-color: rgb(126, 1, 1, 0.2);;
}






